// Global Styles Goes Here...
body {
    @include font-rem(16px);
    color: $text-color;
    font-family: $body-fonts;
}

a {
    @include linx($highlight);
}

h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-family: $heading-fonts;
}

h1, h2 {
    @include font-rem(40px);
    margin: 30px 0 25px;
}

ul, ol {
    list-style-position: inside;
    list-style-type: none;
    margin: 0 0 15px 0;
    padding-left: 0;
}

.select-wrapper {
    position: relative;

    &::after {
        @include vendor-prefix(transform, translateY(-50%));
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $black;
        content: "";
        display: block;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
    }
}
select {
    @include vendor-prefix(appearance, none);
}

.nowrap {
    white-space: nowrap;
}

.visually-hidden {
    @extend %visuallyhidden;
}

.full-width {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0;
    width: 100%;
}

.control-label {
    font-weight: normal;
}

.btn {
    @include font-rem(16px);
    color: $white;

    &--color-default {
        background-color: $highlight;
    }

    &--color-danger {
        background-color: $danger;
    }

    &--color-primary {
        background-color: $primary;
    }

    &-lg {
        padding: 10px 35px;
    }

    &:hover {
        color: $white;
    }
}
