// Define Mixins Here...

// 1st argument = breakpoint value
// 2nd argument (optional) = either 2nd breakpoint value or the word max to make it a max-width query
@mixin breakpoint($val, $val2: none) {
    @if ($val2 == none) {
    	@media (min-width: $val) { @content; }
    } @else if ($val2 == max) {
    	@media (max-width: $val) { @content; }
    } @else {
    	@media (min-width: $val) and (max-width: $val2) { @content; }
    }
}

@mixin vendor-prefix($property, $value) {
    @each $prop in '-moz-', '-ms-', '-o-', '-webkit-', '' {
        #{$prop}#{$property}: $value;
    }
}

@mixin keyframes($animation-name) {
    @each $prop in '-moz-', '-ms-', '-o-', '-webkit-', '' {
        #{$prop}keyframes #{$animation-name} {
            @content;
        }
    }
}

@mixin linx ($link, $hover: $link, $visit: $link, $active: $link, $hover-dec: none) {
    color: $link;
    &:focus,
    &:hover {
        color: $hover;
        text-decoration: $hover-dec;
    }
    &:visited {
        color: $visit;
    }
    &:active {
        color: $active;
    }
}

@function calc-rem($size) {
    $rem: $size / 10px;
    @return #{$rem}rem;
}
@mixin font-rem($size) {
    font-size: $size;
    font-size: calc-rem($size);
}

@mixin clearfix($pos) {
    &::$pos{
        clear: both;
        content: '';
        display: table;
    }
}

%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}
