// Define Colors
$white: #fff;
$black: #232d36;
$grey: #ececec;
$grey-accent-border: #c4c4c4;
$grey-accent-intro: #4c4c4c;
$grey-accent-steps: #717171;
$grey-accent-app: #555555;

$highlight: #ea3f33;
$primary: #f04c25;
$secondary: #0093a9;
$warning: #8bb464;
$danger: #ea3f33;
$info: #52a4a2;


// Define breakpoints
$ap-xsmall: 767px;
$ap-small: 768px;
$ap-medium: 992px;
$ap-large: 1200px;

// Define Fonts
$body-fonts: 'Montserrat-Light', 'Arial', 'sans-serif';
$secondary-heading-fonts: 'Montserrat-Regular', 'Arial', 'sans-serif';
$heading-fonts: 'Montserrat-Bold', 'Arial', 'sans-serif';

// Define Fonts Colors
$text-color: $black;
$text-color-inverse: $white;
$heading-color: $black;
$heading-color-inverse: $white;
$text-danger: $danger;

// Define Border Colors
$border-color: $grey;
