.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  color: #232d36;
  font-family: "Montserrat-Light", "Arial", "sans-serif"; }

a {
  color: #ea3f33; }
  a:focus, a:hover {
    color: #ea3f33;
    text-decoration: none; }
  a:visited {
    color: #ea3f33; }
  a:active {
    color: #ea3f33; }

h1, h2, h3, h4, h5, h6 {
  color: #232d36;
  font-family: "Montserrat-Bold", "Arial", "sans-serif"; }

h1, h2 {
  font-size: 40px;
  font-size: 4rem;
  margin: 30px 0 25px; }

ul, ol {
  list-style-position: inside;
  list-style-type: none;
  margin: 0 0 15px 0;
  padding-left: 0; }

.select-wrapper {
  position: relative; }
  .select-wrapper::after {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #232d36;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%; }

select {
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.nowrap {
  white-space: nowrap; }

.full-width {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0;
  width: 100%; }

.control-label {
  font-weight: normal; }

.btn {
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff; }
  .btn--color-default {
    background-color: #ea3f33; }
  .btn--color-danger {
    background-color: #ea3f33; }
  .btn--color-primary {
    background-color: #f04c25; }
  .btn-lg {
    padding: 10px 35px; }
  .btn:hover {
    color: #fff; }

/* All Modules CSS Goes Here... */
/* Footer Style Goes Here... */

/*# sourceMappingURL=main.css.map */
