<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Welcome to Nest">
    <meta name="keywords" content="Security Systems">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>Nest - Security Systems</title>

	<!-- build:css siteware/styles/vendors.min.css -->
	<link rel="stylesheet" href="siteware/styles/lib/bootstrap.min.css">
	<link rel="stylesheet" href="siteware/styles/lib/bootstrap-theme.min.css">
	<link rel="stylesheet" href="siteware/styles/lib/font-awesome.min.css">
	<!-- endbuild -->

	<!-- build:css siteware/styles/custom.min.css -->
	<link rel="stylesheet" href="siteware/styles/main.css">
	<!-- endbuild -->
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header text-center">MY BLOG</h1>
			</div>
			<div class="col-md-9 main">
				{{> body }}
			</div>
		</div>
	</div>

<!-- build:js siteware/scripts/vendors.min.js -->
<script src="siteware/scripts/lib/jquery-1.12.3.min.js"></script>
<script src="siteware/scripts/lib/bootstrap.min.js"></script>
<!-- endbuild -->

<!-- build:js siteware/scripts/custom.min.js -->
<script src="siteware/scripts/main.js"></script>
<!-- endbuild -->
</body>

</html>
